@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #FFFFFF;
  color: #1B1D1F;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 40px);
  }
}

.btn_brown {
  background: #754343;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 8px;
  font-size: 12.8px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.3px;
}
.btn_gray {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 8px;
  background: #F4F5F6;
  font-size: 16px;
  font-weight: 600;
}
.btn_dark {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #515151;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12.8px;
  font-weight: bold;
  height: 49px;
}

.header__top {
  background: #484444;
  color: white;
}
.header__top_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0 12px;
}
@media screen and (max-width: 620px) {
  .header__top_container {
    flex-direction: column;
    gap: 10px;
  }
}
.header__top ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 620px) {
  .header__top ul {
    flex-direction: column;
    gap: 10px;
  }
}
.header__top ul a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 576px) {
  .header__top ul a {
    font-size: 14px;
  }
}
.header__top .auth_btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__top .auth_btn p {
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .header__top .auth_btn p {
    font-size: 14px;
  }
}
.header__top .auth_btn p a {
  display: inline;
}
.header__body_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0 40px;
}
@media screen and (max-width: 1200px) {
  .header__body_container {
    gap: 20px;
    padding-bottom: 20px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media screen and (max-width: 620px) {
  .header__logo img {
    height: 40px;
  }
}
.header__navs {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .header__navs {
    width: 100%;
  }
}
@media screen and (max-width: 663px) {
  .header__navs {
    display: none;
  }
}
.header__navs a {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #3A3A3A;
}
@media screen and (max-width: 1200px) {
  .header__navs a {
    display: none;
  }
}
.header__navs.mb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .header__navs.mb {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .header__navs.mb {
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll;
  }
  .header__navs.mb::-webkit-scrollbar {
    display: none;
  }
}
.header__navs.mb a {
  display: block;
  white-space: nowrap;
}
@media screen and (max-width: 620px) {
  .header__navs.mb a {
    font-size: 16px;
  }
}
.header .btn_brown {
  width: 198px;
  flex-shrink: 0;
}
@media screen and (max-width: 620px) {
  .header .btn_brown {
    width: 100px;
    height: 35px;
  }
}
.header .btn_gray {
  padding: 0 15px 0 25px;
  gap: 10px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .header .btn_gray {
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
    gap: 0px;
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .header .btn_gray .text {
    display: none;
  }
}
.header .btn_gray .number {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FB6019;
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
@media screen and (max-width: 992px) {
  .header .btn_gray .number {
    position: absolute;
    transform: translate(10px, -50%);
  }
}

.home {
  margin-bottom: 312px;
}
@media screen and (max-width: 992px) {
  .home {
    margin-bottom: 80px;
  }
}
.home__search {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 148px;
}
@media screen and (max-width: 992px) {
  .home__search {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 620px) {
  .home__search {
    gap: 0px;
  }
}
.home__search input {
  width: 100%;
  height: 47px;
  border: 1px solid rgba(0, 0, 0, 0.42);
  padding: 0 17px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: black;
}
@media screen and (max-width: 620px) {
  .home__search input {
    border-radius: 8px 0 0 8px;
    font-size: 16px;
  }
}
.home__search input::-moz-placeholder {
  color: black;
}
.home__search input::placeholder {
  color: black;
}
.home__search button {
  width: 174px;
}
@media screen and (max-width: 620px) {
  .home__search button {
    width: 47px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 0 8px 8px 0;
  }
}
@media screen and (max-width: 620px) {
  .home__search button span {
    display: none;
  }
}
.home__search button svg {
  width: 25px;
}
.home__search button svg path {
  fill: white;
}
@media screen and (min-width: 620px) {
  .home__search button svg {
    display: none;
  }
}
.home__card_wrap {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media screen and (max-width: 992px) {
  .home__card_wrap {
    gap: 50px;
  }
}
.home__card_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .home__card_head {
    margin-bottom: 20px;
  }
}
.home__card_head h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
@media screen and (max-width: 992px) {
  .home__card_head h3 {
    font-size: 20px;
  }
}
.home__card_head select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  padding-right: 18px;
  background-image: url("../images/select-icon.svg");
  background-position: calc(100% - 7px) center;
  background-repeat: no-repeat;
  outline: none;
}
.home__card_swp {
  position: relative;
}
.home__card_swp .swp_btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  border: 1px solid #DEDEE2;
}
.home__card_swp .swp_btn svg {
  height: 30px;
}
.home__card_swp .btn_prev {
  left: 0;
}
.home__card_swp .btn_next {
  right: 0;
  transform: translate(50%, -50%);
}
.home__card_swp .swiper {
  padding: 20px;
  margin: -20px;
}
.home__card_swp .swiper-slide {
  border: 1px solid #DEDEE2;
  border-radius: 10px;
  padding: 26px 0 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 650px) {
  .home__card_swp .swiper-slide {
    width: 300px;
  }
}
.home__card_swp .swiper-slide .main-img {
  width: calc(100% - 12px);
  height: 213px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto 26px;
}
.home__card_swp .swiper-slide .card-body {
  padding: 0 20px;
}
.home__card_swp .swiper-slide .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}
.home__card_swp .swiper-slide .name h4 {
  font-size: 14px;
  font-weight: bold;
  color: #7A7680;
}
.home__card_swp .swiper-slide .stars {
  display: flex;
  align-items: center;
  gap: 6px;
}
.home__card_swp .swiper-slide .stars_in {
  display: flex;
  align-items: center;
  gap: 3px;
}
.home__card_swp .swiper-slide .stars_in svg:not(.active) path {
  fill: #C5C3C8;
}
.home__card_swp .swiper-slide .stars_text {
  font-size: 14px;
  line-height: 18px;
}
.home__card_swp .swiper-slide .stars_text span {
  color: #55556D;
}
.home__card_swp .swiper-slide .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 33px;
}
.home__card_swp .swiper-slide .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__card_swp .swiper-slide .price_value {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.home__card_swp .swiper-slide .price_value del {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #7A7680;
}
.home__card_swp .swiper-slide a {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6B59CC;
}
.home__card_swp .swiper-slide a img:nth-child(2) {
  display: none;
}
.home__card_swp .swiper-slide:hover {
  border-color: #F4F5F6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}
.home__card_swp .swiper-slide:hover a {
  background: #484847;
  border-color: #ECEBF1;
}
.home__card_swp .swiper-slide:hover a img {
  display: none;
}
.home__card_swp .swiper-slide:hover a img:nth-child(2) {
  display: block;
}

.footer {
  background: #2F2B4A;
  color: white;
  padding: 39px 0 20px;
}
.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .footer__top {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}
.footer__navs {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}
@media screen and (max-width: 750px) {
  .footer__navs {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (max-width: 750px) {
  .footer__navs_item {
    text-align: center;
  }
}
.footer__navs_item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 21px;
}
.footer__navs_item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__navs_item a {
  font-size: 16px;
  line-height: 20px;
  color: #F4F5F6;
}
@media screen and (max-width: 992px) {
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__right .msg {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 20px;
}
.footer__right .msg p {
  font-size: 14px;
  line-height: 16px;
  color: #F4F5F6;
}
.footer__right .msg p:nth-child(1) {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
  color: white;
  margin-bottom: 2px;
}
.footer__right .online {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.footer__right .online span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 5px solid rgba(73, 193, 113, 0.3);
  position: relative;
}
.footer__right .online span::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #49C171;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__right .online p {
  color: #F4F5F6;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: italic;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 20px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 1075px) {
  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__bottom div {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media screen and (max-width: 576px) {
  .footer__bottom div {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__bottom .links {
  gap: 10px;
  flex-direction: row;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.active {
  display: flex;
}
.modal__bg {
  background: rgba(51, 48, 48, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal__content {
  position: relative;
  background: white;
  width: 823px;
  border-radius: 30px;
  padding: 65px 78px 82px 72px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 992px) {
  .modal__content {
    padding: 30px 20px;
    width: calc(100% - 40px);
  }
}
.modal__close {
  position: absolute;
  top: 23px;
  right: 38px;
}
@media screen and (max-width: 992px) {
  .modal__close {
    top: 35px;
    right: 30px;
  }
}
.modal h3 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 41px;
}
@media screen and (max-width: 992px) {
  .modal h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.modal .inp_wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 23px;
}
@media screen and (max-width: 992px) {
  .modal .inp_wrap {
    margin-bottom: 15px;
    gap: 20px;
  }
}
.modal .inp_wrap input {
  width: 100%;
  height: 70px;
  background: #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 17px;
  padding: 0 36px;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .modal .inp_wrap input {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
  }
}
.modal .inp_wrap input::-moz-placeholder {
  color: black;
}
.modal .inp_wrap input::placeholder {
  color: black;
}
.modal .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 39px;
}
@media screen and (max-width: 992px) {
  .modal .text {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.modal .text a {
  color: #095E88;
}
.modal .btn_yellow {
  width: 100%;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  background: #FECE30;
  font-size: 20px;
  font-weight: 600;
  border-radius: 17px;
}
@media screen and (max-width: 992px) {
  .modal .btn_yellow {
    font-size: 16px;
    height: 50px;
    border-radius: 10px;
  }
}
.modal h5 {
  font-size: 21px;
  font-weight: 500;
  margin: 37px 0 32px;
}
@media screen and (max-width: 992px) {
  .modal h5 {
    font-size: 16px;
    margin: 20px 0;
  }
}
.modal h4 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 63px 0 26px;
}
@media screen and (max-width: 992px) {
  .modal h4 {
    font-size: 20px;
    margin-top: 40px;
  }
}
.modal .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.modal .links img {
  width: 44px;
  height: 44px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile {
  padding: 43px 0 39px;
  font-family: "Montserrat", sans-serif;
}
.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profile__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 55px;
}
.profile .icon {
  width: 158px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FDD228;
  font-size: 96px;
  font-weight: 600;
  margin-bottom: 20px;
}
.profile a {
  font-size: 20px;
  font-weight: 400;
}
.profile .name {
  font-size: 24px;
  font-weight: 500;
  margin: 44px 0 16px;
}
.profile .stars {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
.profile .stars h4 {
  font-size: 18px;
  font-weight: 600;
}
.profile .stars div {
  margin: 0 10px 0 4px;
  display: flex;
  align-items: center;
}
.profile .stars p {
  font-size: 18px;
  color: #0099F8;
}

.my-ads {
  padding-bottom: 146px;
  font-family: "Montserrat", sans-serif;
}
.my-ads__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 122px;
}
@media screen and (max-width: 992px) {
  .my-ads__title {
    margin-bottom: 50px;
  }
}
.my-ads__navs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 318px;
  margin-bottom: 97px;
}
@media screen and (max-width: 1250px) {
  .my-ads__navs {
    width: 100%;
    gap: 0px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 992px) {
  .my-ads__navs {
    margin-bottom: 50px;
  }
}
.my-ads__navs a {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 14px;
  position: relative;
  padding-right: 6px;
}
@media screen and (max-width: 992px) {
  .my-ads__navs a {
    font-size: 16px;
  }
}
.my-ads__navs a img {
  display: none;
  position: absolute;
  right: 0;
  top: -15px;
}
.my-ads__navs a.active {
  border-bottom: 1px solid black;
}
.my-ads__navs a.active img {
  display: block;
}
.my-ads__card {
  display: flex;
  align-items: stretch;
  gap: 44px;
  font-family: "Open Sans", sans-serif;
  max-width: 1048px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .my-ads__card {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
.my-ads__card_left {
  width: 317px;
  flex-shrink: 0;
  border: 1px solid #DEDEE2;
  border-radius: 10px;
  padding: 26px 0 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 650px) {
  .my-ads__card_left {
    width: 300px;
  }
}
.my-ads__card_left .main-img {
  width: calc(100% - 12px);
  height: 213px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto 26px;
}
.my-ads__card_left .card-body {
  padding: 0 20px;
}
.my-ads__card_left .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}
.my-ads__card_left .name h4 {
  font-size: 14px;
  font-weight: bold;
  color: #7A7680;
}
.my-ads__card_left .stars {
  display: flex;
  align-items: center;
  gap: 6px;
}
.my-ads__card_left .stars_in {
  display: flex;
  align-items: center;
  gap: 3px;
}
.my-ads__card_left .stars_in svg:not(.active) path {
  fill: #C5C3C8;
}
.my-ads__card_left .stars_text {
  font-size: 14px;
  line-height: 18px;
}
.my-ads__card_left .stars_text span {
  color: #55556D;
}
.my-ads__card_left .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 33px;
}
.my-ads__card_left .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-ads__card_left .price_value {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.my-ads__card_left .price_value del {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #7A7680;
}
.my-ads__card_left a {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6B59CC;
}
.my-ads__card_left a img:nth-child(2) {
  display: none;
}
.my-ads__card_left:hover {
  border-color: #F4F5F6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}
.my-ads__card_left:hover a {
  background: #484847;
  border-color: #ECEBF1;
}
.my-ads__card_left:hover a img {
  display: none;
}
.my-ads__card_left:hover a img:nth-child(2) {
  display: block;
}
.my-ads__card_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.my-ads__card_right h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
}
.my-ads__card_right ul {
  font-size: 16px;
}
.my-ads__card_right .bottom_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .my-ads__card_right .bottom_text {
    flex-direction: column;
    align-items: flex-start;
  }
}
.my-ads__card_right .bottom_text p {
  font-size: 16px;
  font-weight: 400;
}
.my-ads__card_right .bottom_text h4 {
  font-size: 16px;
  font-weight: bold;
  color: #754343;
}
.my-ads__card_right .bottom_text h4 span {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-left: 7px;
  color: black;
}
.my-ads__card_right .bottom_text h5 {
  font-size: 16px;
  font-weight: 600;
}
.my-ads .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1048px;
  margin: 69px auto 0;
}
@media screen and (max-width: 992px) {
  .my-ads .links {
    margin-top: 30px;
  }
}
.my-ads .links a {
  font-size: 20px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 992px) {
  .my-ads .links a {
    font-size: 16px;
  }
}

.products {
  padding-bottom: 230px;
}
@media screen and (max-width: 992px) {
  .products {
    padding-bottom: 70px;
  }
}
.products_home {
  margin-bottom: 50px;
}
.products_home .home__search {
  margin-bottom: 0;
}
.products__container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
@media screen and (max-width: 700px) {
  .products__container {
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .products__container {
    flex-direction: column;
  }
}
.products__filter {
  width: 268px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media screen and (max-width: 700px) {
  .products__filter {
    width: 200px;
  }
}
@media screen and (max-width: 576px) {
  .products__filter {
    width: 100%;
    gap: 20px;
  }
}
.products__filter .title {
  font-size: 16px;
  font-weight: bold;
}
.products__filter .weapons a {
  font-size: 16px;
  font-weight: 400;
}
.products__filter .manufacturer .title {
  margin-bottom: 18px;
}
.products__filter .manufacturer ul {
  list-style-type: disc;
  list-style-position: inside;
}
.products__filter .manufacturer ul a {
  font-size: 16px;
  font-weight: 400;
}
.products__filter .price .title {
  margin-bottom: 18px;
}
.products__filter .price .inp {
  display: flex;
  align-items: center;
  gap: 14px;
}
.products__filter .price .inp label {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: bold;
}
.products__filter .price .inp input {
  border: 1px solid rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 21px;
  padding: 0 10px;
  font-size: 12px;
}
.products__filter .anons {
  position: relative;
  height: 387px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 56px 19px 29px;
  text-align: center;
}
.products__filter .anons img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__filter .anons p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.products__cards {
  width: calc(100% - 308px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .products__cards {
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 576px) {
  .products__cards {
    width: 100%;
  }
}
.products__cards .my-ads__card {
  max-width: 100%;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .products__cards .my-ads__card {
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .products__cards .my-ads__card {
    align-items: center;
  }
}
.products .more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 42px;
}
.products .more-btn button, .products .more-btn a {
  font-size: 24px;
  font-weight: bold;
}

.advertisement {
  padding-bottom: 151px;
  font-family: "Montserrat", sans-serif;
}
.advertisement__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 77px;
}
@media screen and (max-width: 992px) {
  .advertisement__title {
    font-size: 28px;
    margin-bottom: 50px;
  }
}
.advertisement .name {
  max-width: 463px;
  margin-bottom: 90px;
}
@media screen and (max-width: 992px) {
  .advertisement .name {
    margin-bottom: 50px;
  }
}
.advertisement .name label {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 32px;
}
.advertisement .name input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.27);
  padding: 9px 19px 10px;
  border-radius: 25px;
  font-size: 12px;
}
.advertisement .categories {
  display: flex;
  align-items: flex-start;
  gap: 70px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 58px;
}
@media screen and (max-width: 992px) {
  .advertisement .categories {
    flex-direction: column;
    gap: 30px;
  }
}
.advertisement .categories_item {
  width: 225px;
}
.advertisement .categories h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}
.advertisement .categories ul {
  font-size: 16px;
  font-weight: 400;
  list-style-type: disc;
  list-style-position: inside;
}
.advertisement .categories .checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.advertisement .categories .checkboxes label {
  display: flex;
  align-items: center;
  gap: 9px;
  position: relative;
  font-size: 16px;
}
.advertisement .categories .checkboxes .icon {
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.55);
}
.advertisement .categories .checkboxes .icon svg {
  display: none;
}
.advertisement .categories .checkboxes input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.advertisement .categories .checkboxes input:checked ~ span svg {
  display: block;
}
.advertisement .categories .inp_file {
  width: 90px;
}
.advertisement .categories .inp_file label {
  position: relative;
  width: 90px;
  height: 74px;
  margin-bottom: 13px;
}
.advertisement .categories .inp_file label img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advertisement .categories .inp_file label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.advertisement .categories .inp_file p {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
}
.advertisement .characteristics {
  max-width: 480px;
}
.advertisement .characteristics .title {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}
.advertisement .characteristics h3 {
  margin-bottom: 56px;
}
.advertisement .characteristics h4 {
  margin-bottom: 32px;
}
.advertisement .characteristics p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 13px;
}
.advertisement .characteristics textarea {
  width: 100%;
  height: 108px;
  resize: none;
  background: #F8F8F8;
  padding: 17px 12px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 39px;
}
.advertisement .form_inp {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 992px) {
  .advertisement .form_inp {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
.advertisement .form_inp label {
  flex-shrink: 0;
  font-size: 14px;
}
.advertisement .form_inp input {
  width: 100%;
  background: #F8F8F8;
  width: 100%;
  height: 28px;
  padding: 0 12px;
  font-family: "Montserrat", sans-serif;
}
.advertisement .contact {
  max-width: 480px;
  padding-top: 59px;
}
.advertisement .contact h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 44px;
}
.advertisement .contact ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  margin: 39px 0 24px;
}
.advertisement .contact li {
  display: flex;
  align-items: center;
  gap: 11px;
  position: relative;
}
.advertisement .contact li input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.advertisement .contact li .icon {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.55);
}
.advertisement .contact li .icon svg {
  display: none;
}
.advertisement .contact li input:checked ~ .icon svg {
  display: block;
}
.advertisement .contact li p {
  font-size: 13px;
  font-weight: 500;
}
.advertisement .contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #515151;
  color: white;
  width: 309px;
  height: 32px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 576px) {
  .advertisement .contact button {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */